body {
    overflow: scroll;
}

.header {
    background-image: linear-gradient(aqua, white);
    padding: 15px 0px 25px 200px;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.frase {
    font-size: 20px;
    text-align: center;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.placar {
    display: none;
}

#erro {
    color: red;
    display: none;
}

#spinner {
    display: none;
    margin-bottom: 13px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frase-id {
    width: 40px;
}

#botao-sync{
    float: right;
}